<h1>Welcome to TwitterWhack!</h1>
<form action="/submit" method="POST">
	<input type="text" name="first_word" value="Enter First Word" />
	<input type="text" name="second_word" value="Enter Second Word" />
	<input type="submit" value="Submit" />
</form>
